<div style="border-bottom:4px solid black; margin-bottom:16px">
 <h4 style="color:rgb(120,120,120); margin-bottom:4px">
   {{bread['name']}}</h4>
  <div><b>Description:</b> {{bread['description']}}</div> 
  <div><b>Location:</b>  {{bread['location']}}</div>
  <button style="background-color: #4CAF50; /* Green */
                  border: none;
                  color: white;
                  padding: 8px 16px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 14px;
                  margin: 4px 2px;
                  cursor: pointer;">
    Show Interest
  </button>
</div>