<!DOCTYPE html>
<html>
  <head>
    <title>furryfriends</title>
    <style>
      h1 {
        font-size:40px ;
        font-family: roborto;
        font-weight: normal;
        color: rgb(80,80,80);
        text-align: center;   
      }
    </style>
  </head>
  <body>
    <h1>Furry Friends</h1>
    <img src="https://4a4c73dc-f9d2-4d65-88f9-3b1461d92fd0-00-1xra85wlv6iep.sisko.replit.dev/static/banner.jpeg" width="360">
    <h2>About our services</h2>
    <p>At Furryfriends, we believe that every dog deserves a loving home, and we're dedicated to connecting wonderful dogs with caring individuals and families. When you choose to adopt a dog, you're not just gaining a furry companion; you're providing a second chance at happiness for a loyal friend in need.</p>
    <h2>Available Breads</h2>
    <p>Will show the avilable breads here</p>
    <button>ContactUs</button>
  </body>
</html>